<div class="mix {{category}}">
  <a class="post_img grid-item" rel="gallery" href="/uploads/{{imageFilename}}" title="{{placeName}}: {{city}}, {{country}}, {{continent}}. {{caption}}">
      <img width="360" height="240" class="a_post" src="/uploads/{{imageFilename}}">
  </a>
</div>

